@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Dongle:wght@700&family=Gabarito:wght@700&family=Gothic+A1:wght@300;600&family=Jost:wght@800&family=Maven+Pro&family=Montserrat&family=Raleway:wght@200&family=Rubik+Mono+One&family=Unbounded:wght@200;500&display=swap');
body {
    font-family: 'Raleway', sans-serif;;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFF08C;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logoimg {
    margin: 15px 15px;
    width: 10vw;
    height: auto;
}

h1 {
    color: #F664AF;
    display: inline;
    font-size: 40px;
    margin: 0  60px ;
    font-family: 'Unbounded', sans-serif;
    animation: anim 2s 1;
}

@keyframes anim {
    0% {
        opacity: 0;
        transform: translate(-100px, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0,0);
    }
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 

a {
    text-decoration: none;
    margin: 0 50px;
    font-size: 23px;
    color: #F664AF;
    font-family: 'Unbounded', sans-serif;
    white-space: nowrap;
    transition: .5s transform;
    animation: anim 2s 1;
}

a:hover {
    transform: scale(1.3);
}

.themeButton {
    font-family: 'Unbounded', sans-serif;
    border: none;
    transition: .5s transform;
    background-color: #fc9fcf;
    animation: anim 2s 1;
}

.themeButton:hover {
    transform: scale(1.1);
}

.aboutme {
    background-color: #fc9fcf;
}

.aboutm {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 100px 0;
   animation: anim 2s 1;
}

h6 {
    color: #F664AF;
    font-size: 35px;
    font-family: 'Unbounded', sans-serif;
    animation: anim 2s 1;
}

.border {
    color: #FFF08C;
    font-size: 35px;
    font-family: 'Unbounded', sans-serif;
    border-radius: 15px;
    background-color: #F664AF;
    padding: 5px 20px;
    text-align: center;
    animation: anim 2s 1;
}

.imgme {
    border-radius: 10px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageimg {
    width: 60%; 
    height: 60%;
}

.mep {
    font-size: 25px;
    font-weight: 700;
    color: #FFF08C;
    text-align: start;
    width: 40%;
}

.skills {
    background-color: #FFF08C;
}

h2 {
    color: #F664AF;
    font-size: 30px;
    margin: 0;
    padding: 30px 0 30px 120px;
    font-family: 'Unbounded', sans-serif;
    animation: anim 2s 1;
}

.skill {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
    animation: anim 2s 1;
}

.design {
    width: 40%;
}

.designp {
    font-size: 20px;
    color: #F664AF;
    font-weight: 700;
}

.progress {
    width: 500px;
    height: 40px;
    background-color: #fc9fcf;
    border-radius: 15px;
}

.programing {
    width: 40%;
}

.programingp {
    font-size: 20px;
    color: #F664AF;
    font-weight: 700;
}

.portfolio {
    background-color: #fc9fcf;
}

h3 {
    color: #FFF08C;
    font-size: 30px;
    margin: 0;
    padding: 30px 0 30px 0 ;
    text-align: center;
    font-family: 'Unbounded', sans-serif;
    animation: anim 2s 1;
}

.works {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation: anim 2s 1;
    width: 100%;
}

.workimg {
    width: 80%;
    transition: .5s transform;
}

.workimg:hover {
    transform: scale(1.1);
}

.workp {
    font-size: 20px;
    font-weight: 700;
    color: #FFF08C;
    text-align: center;
    margin: 15px 0 30px 0;
}

.services {
    background-color: #FFF08C;
}

h4 {
    color: #F664AF;
    font-size: 30px;
    margin: 0;
    padding: 30px 0 30px 180px;
    font-family: 'Unbounded', sans-serif;
    animation: anim 2s 1;
}

.service {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    width: 100%;
    justify-content: center;
    animation: anim 2s 1;
}

.servicep {
    font-size: 25px;
    color: #F664AF;
    font-weight: 700;
    width: 30%;
}

.price {
    font-weight: 900;
    color: #F664AF;
    font-size: 25px;
    width: 20%;
}

.details {
    width: 30%;
}

.details:hover {
    transform: scale(1.2);
}

.btn {
    width: 300px;
    height: 45px;
    background-color: #fc9fcf;
    border-radius: 15px;
    border: none;
    color: #FFF08C;
    font-size: 25px;
    font-weight: 600;
    transition: .5s transform;
    font-family: 'Raleway', sans-serif;
}

.contacts {
    background-color: #fc9fcf;
    padding-bottom: 40px;

}

h5 {
    color: #FFF08C;
    font-size: 30px;
    margin: 0;
    padding: 30px 0 30px 180px;
    font-family: 'Unbounded', sans-serif;
    animation: anim 2s 1;
}

.contact {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    animation: anim 2s 1;
}

.icon {
    width: 10%;
}

.iconimg {
    width: 60%;
    margin: 10px 0;
    transition: .5s transform;
}

.iconimg:hover {
    transform: scale(1.3);
}

.phone {
    width: 20%;
}

.phonep {
    font-weight: 900;
    color: #FFF08C;
    font-size: 25px;
    padding: 20px 0 20px 120px;
    transition: .5s transform;
}

.phonep:hover {
    transform: scale(1.3);
}

input {
    width: 250px;
    height: 45px;
    border-radius: 15px;
    background-color: #F664AF;
    color: #FFF08C;
    font-size: 22px;
    border: none;
    transition: .5s transform;
    font-family: 'Raleway', sans-serif;
}

input:hover {
    transform: scale(1.3);
}

.fitback {
    margin-left: 170px;
}

.myphoto {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

footer {
    background-color: #F664AF;
    padding: 20px;
    text-align: center;
    font-weight: 500;
    color: #FFF08C;
}

/*светлая тема*/
.lightTheme header {
    background-color: #FFF08C;
}

.lightTheme h1  {
    color: #F664AF;
}

.lightTheme a  {
    color: #F664AF;
}

.lightTheme .themeButton  {
    background-color: #fc9fcf;
    color: #FFF08C;
}

.lightTheme h6 {
    color: #F664AF;
}

.lightTheme .border  {
    background-color: #F664AF;
    color: #FFF08C;
}

.lightTheme .aboutme {
    background-color: #fc9fcf;
}

.lightTheme .mep {
   color: #FFF08C;
}

.lightTheme .skills{
    background-color: #FFF08C;
}

.lightTheme h2 {
    color: #F664AF;
}

.lightkTheme .designp{
    color: #F664AF;
}

.lightTheme .programmingp{
    color: #F664AF;
}

.lightTheme .progress {
    background-color: #fc9fcf;
}

.lightTheme .portfolio {
    background-color: #fc9fcf;
}

.lightTheme .h3 {
    color: #FFF08C;
}

.lightTheme .workp {
    color: #FFF08C;
}

.lightkTheme .services{
    background-color: #FFF08C;
}

.lightTheme .h4 {
    color: #F664AF;
}

.lightkTheme .servicep{
    color: #F664AF;
}

.lightTheme .price {
    color: #F664AF;
}

.lightTheme .btn {
    background-color: #fc9fcf;
    color: #FFF08C;
}

.lightTheme .contacts{
    background-color: #fc9fcf;
}

.lightTheme .h5 {
    color: #FFF08C;
}

.lightTheme .phopep {
    color: #FFF08C;
}

.lightTheme .input {
    background-color: #F664AF;
    color: #FFF08C;
}

.lightTheme footer {
    background-color: #F664AF;
}

.lightTheme .footerp {
    color: #FFF08C;
}

/*темная тема*/
.darkTheme header {
    background-color: #777777;
}

.darkTheme h1  {
    color: #F664AF;
}

.darkTheme a  {
    color: #F664AF;
}

.darkTheme .themeButton  {
    background-color: #333333;
    color: #fc9fcf;
}

.darkTheme h6 {
    color: #F664AF;
}

.darkTheme .border  {
    background-color: #F664AF;
    color: #FFF08C;
}

.darkTheme .aboutme {
    background-color: #333333;
}

.darkTheme .mep {
    color: #FFF08C;
}

.darkTheme .skills{
    background-color: #555555;
}  

.darkTheme h2 {
    color: #FFF08C;
}

.darkTheme .skill {
    color: #F664AF;
}

.darkTheme .designp{
    color: #FFF08C;
}

.darkTheme .programingp{
    color: #FFF08C;
}

.darkTheme .progress {
    background-color: #fc9fcf;
}

.darkTheme .portfolio {
    background-color: #333333;
}

.darkTheme h3 {
    color: #FFF08C;
}

.darkTheme .workp {
    color: #FFF08C;
}

.darkTheme .services{
    background-color: #555555;
}

.darkTheme h4 {
    color: #FFF08C;
}

.darkTheme .servicep{
    color: #F664AF;
}

.darkTheme .price {
    color: #F664AF;
}

.darkTheme .btn {
    background-color: #FFF08C;
    color: #F664AF;
}

.darkTheme .contacts{
    background-color: #333333;
}

.darkTheme h5 {
    color: #F664AF;
}

.darkTheme .phopep {
    color: #FFF08C;
}

.darkTheme input {
    color: #FFF08C;
    background-color: #F664AF;
}

.darkTheme footer {
    background-color: #555555;
}

.darkTheme .footerp {
    color: #FFF08C;
}

@media (min-width: 375px) and (max-width:912px) and (orientation: portrait) {
    main {
        font-size: 16px;
    }
    
    .logoimg {
        width: 40%;
    }

    h1 {
       margin-left: 10px;
       font-size: 26px;
    }

    .aboutm {
        flex-direction: column;
        padding-top: 10px;
    }

    h6 {
        margin-bottom: 10px;
        font-size: 28px;
        
    }

    .border {
        margin-top: 10px;
        font-size: 28px;
        margin-bottom: 50px;
    }

    .imgme {
        width: 125%;
    }

    .mep {
        margin-top: 20px;
        width: 80%;
    }

    h2 {
        font-size: 28px;
        padding: 0;
        padding-top: 20px;
        text-align: center;
    }
    
    .skill {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .design {
        width: 80%;
    }

    .progress {
        width: 100%;
    }

    .programing {
        width: 80%;
    }

    .works {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .work {
        width: 70%;
    }

    .workimg {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h4 {
        font-size: 28px;
        padding: 20px 0;
        text-align: center;
    }

    .service {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
    }

    .servicep {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .price {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn {
        width: 75vw;
    }

    h5 {
        padding: 20px;
        text-align: center;
    }

    .contact {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .icon {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .iconimg {
        width: 40%;
    }

    .phone {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .phonep {
        white-space: nowrap;
        padding: 0;
    }

    .fitback {
        margin: 0;
        margin-top: 10px;
    }

    .myphoto {
        justify-content: center;
    }
}

@media (min-width: 667px) and (max-width:896px) and (orientation: landscape) {
    .logoimg {
        width: 40%;
    }

    h1 {
       margin-left: 10px;
       font-size: 26px;
       white-space: nowrap;
    }

    .aboutm {
        flex-direction: column;
        padding-top: 10px;
    }

    h6 {
        margin-bottom: 10px;
        font-size: 28px;
        
    }

    .border {
        margin-top: 10px;
        font-size: 28px;
        margin-bottom: 50px;
    }

    .imgme {
        width: 80%;
    }

    .mep {
        margin-top: 20px;
        width: 80%;
    }

    h2 {
        font-size: 28px;
        padding: 0;
        padding-top: 20px;
        text-align: center;
    }
    
    .skill {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .design {
        width: 80%;
    }

    .designp {
        font-size: 16px;
    }

    .progress {
        width: 100%;
    }

    .programing {
        width: 80%;
    }

    .works {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .work {
        width: 70%;
    }

    h4 {
        font-size: 28px;
        padding: 20px 0;
        text-align: center;
    }

    .service {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
    }

    .servicep {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .price {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    .btn {
        width: 60%;
    }

    h5 {
        padding: 20px;
        text-align: center;
    }

    .contact {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .icon {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .iconimg {
        width: 80%;
    }

    .phone {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .phonep {
        white-space: nowrap;
        padding: 0;
    }

    .fitback {
        margin: 0;
        margin-top: 10px;
    }

    .myphoto {
        justify-content: center;
    }
}

@media (max-width:915px) and (orientation: landscape) {
    main {
        font-size: 16px;
    }
    
    .logoimg {
        width: 40%;
    }

    h1 {
       margin-left: 10px;
       font-size: 26px;
    }

    .aboutm {
        flex-direction: column;
        padding-top: 10px;
    }

    h6 {
        margin-bottom: 10px;
        font-size: 28px;
        
    }

    .border {
        margin-top: 10px;
        font-size: 28px;
        margin-bottom: 50px;
    }

    .imgme {
        width: 60%;
    }

    .mep {
        margin-top: 20px;
        width: 80%;
    }

    h2 {
        font-size: 28px;
        padding: 0;
        padding-top: 20px;
        text-align: center;
    }
    
    .skill {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .design {
        width: 80%;
    }

    .designp {
        font-size: 16px;
    }

    .progress {
        width: 100%;
    }

    .programing {
        width: 80%;
    }

    h4 {
        font-size: 28px;
        padding: 20px 0;
        text-align: center;
    }

    .service {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
    }

    .servicep {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .price {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn {
        width: 75vw;
    }

    h5 {
        padding: 20px;
        text-align: center;
    }

    .icon {
        width: 10%;
        display: flex;
        flex-direction: column;
    }

    .iconimg {
        width: 40%;
    }

    .phone {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .phonep {
        white-space: nowrap;
        padding: 0;
    }

    .fitback {
        margin: 0;
        margin-top: 10px;
    }

    .myphoto {
        justify-content: center;
    }
}

@media (min-width: 916px) and (max-width:1180px) and (orientation: landscape) {
    h1 {
        white-space: nowrap;
    }

     .phonep {
        white-space: nowrap;
    }
}
    
@media (max-width:1024px) and (orientation: landscape) {
    h1 {
        white-space: nowrap;
    }

     .phonep {
        white-space: nowrap;
    }
}